.product-image{
    width: 300px;
    height: 300px;
}

.product-card{
    width: 320px;
    height: 550px;
    padding: 10px;
}

.product-name{
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.product-color{
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.product-price{
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}